.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
}

form {
    margin-top: 2rem;
}

input[type="text"] {
    padding: 0.5ren;
    font-size: 1.2rem;
}

button[type="submit"] {
    padding: 0.5rem 1.5rem;
    background-color: darkorchid;
    color: aliceblue;
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}